.my-battle-field {
    position: absolute;
    top: 20px;
    left: 20px;
    display: grid;
    margin: 0;
    grid-template: repeat(11, 35px) / repeat(11, 35px);
}

.my-battle-field > div:nth-child(1) {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    background-color: rgb(235, 252, 246);
}

.my-battle-field > div:nth-child(2) {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    background-color: rgb(235, 252, 246);
}

.my-battle-field > div:nth-child(3) {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: aquamarine;
    border: 1px solid black;
}

.my-battle-field-abc {
    grid-template: repeat(1, 35px) / repeat(10, 35px);
}

.my-battle-field-abc-cell,
.my-battle-field-num-cell {
    font-size: 20px;
    text-align: center;
    padding-top: 10%;
}

.my-battle-field-num {
    grid-template: repeat(10, 35px) / repeat(1, 35px);
}

.my-battle-field-allcell {
    grid-template: repeat(10, 35px) / repeat(10, 35px);
}

.my-battle-field-cell {
    border: 1px solid rgb(52, 146, 146);
}
