* {
    font-family: Arial, sans-serif;
}

.deck {
    margin: 0;
    padding: 0;
    background-color: red;
    height: 20px;
    width: 20px;
}

.miss {
    /*margin: 0px;*/
    /*padding: 0px;*/
    height: 19px;
    width: 19px;
    background-color: black;
    /*border-radius: 50%;*/
    /*padding-top: 5px;*/
    /*padding-left: 5px;*/
    clip-path: circle(15%);
    /*vertical-align: center;*/
    /*display: flex;*/
    /*line-height: 20px;*/
    /*text-align: center;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    border: 1px solid rgb(52, 146, 146);
    /*border: 1px solid black;*/
}

.wound {
    width: 19px;
    height: 19px;
    background: red;
    clip-path: polygon(0% 100%, 50% 63%, 100% 100%, 63% 50%, 100% 0%, 50% 37%, 0% 0%, 37% 50%);
}

.no-attack {
    /*margin: 0;*/
    /*padding: 0;*/
    background-color: blue;
    height: 19px;
    width: 19px;
    clip-path: circle(5%);
}

#main {
    display: grid;
    margin: 0;
    padding: 0;
    height: 300px;
    width: 700px;
    grid-template: repeat(2, 100%) / repeat(2, 50%);
}

#my, #enemy, #my-enemy, #enemy-my {
    display: grid;
    background-color: #dfeec8;
    margin: 0;
}

#my {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#enemy {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#my-enemy {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#enemy-my {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* battle-field */

.battle-field {
    position: relative;
    top: 20px;
    left: 20px;
    display: grid;
    margin: 0;
    grid-template: repeat(11, 35px) / repeat(11, 35px);
}

.battle-field > div:nth-child(1) {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    background-color: rgb(235, 252, 246);
}

.battle-field > div:nth-child(2) {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    background-color: rgb(235, 252, 246);
}

.battle-field > div:nth-child(3) {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: aquamarine;
    border: 1px solid black;
}

/* abc */

.battle-field-abc {
    grid-template: repeat(1, 35px) / repeat(10, 35px);
    counter-reset: abc;
}

.battle-field-abc-cell {
    counter-increment: abc;
    font-size: 15px;
    text-align: center;
    padding-top: 10%;
}

.battle-field-abc-cell::before {
    content: counter(abc, upper-alpha);
}

/* num */

.battle-field-num {
    grid-template: repeat(10, 35px) / repeat(1, 35px);
    counter-increment: number 0;
}

.battle-field-num-cell {
    counter-increment: number;
    font-size: 15px;
    text-align: center;
    padding-top: 10%;
}

.battle-field-num-cell::before {
    content: counter(number);
}

/* cell */

.battle-field-allcell {
    grid-template: repeat(10, 35px) / repeat(10, 35px);
}

.battle-field-cell {
    border: 1px solid rgb(52, 146, 146);
}
